nav.main-nav ul {
  display: flex;
  list-style: none;
  background-color: cadetblue;
  color: white;
}

nav.main-nav li {
  display: inline-block;
  margin: 10px;
}

nav.main-nav li:after {
  display: block;

  content: "";
  border-bottom: solid 3px blue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

nav.main-nav li:hover:after {
  transform: scaleX(1);
}

nav.main-nav li:first-child {
  margin-left: 30px;
}

nav.main-nav a {
  text-decoration: none;
  color: inherit;
}
