ul.main_nav {
    display: flex;
    list-style-type: none;
    background-color: blue;
    color: white;
}

ul.main_nav li {
    border: none;
    outline: none;
}

ul.main_nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    transition: border 1s ease-out;
}

ul.main_nav a:hover {
    border-bottom: 3px solid yellow;
}

a.nav_active {
    font-weight: bold;
    outline: none;
    background-color: brown;
}
