.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#clock {
    font-family: Roboto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #111;
    transition: 0.5s;
}
#clock h1 {
    font-size: 7em;
    cursor: pointer;
    transition: 0.2s;
}
#clock h1::-moz-selection {
    background-color: transparent;
}
#clock h1::selection {
    background-color: transparent;
}
.faded {
    opacity: 0;
}
#instruction {
    position: absolute;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
}
