* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul.main_menu {
    display: flex;
    list-style-type: none;
    background-color: blue;
}

ul.main_menu li {
    display: flex;
    color: white;
    margin-left: 20px;
}

ul.main_menu a:hover {
    background-color: blueviolet;
}

ul.main_menu a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.activeNavStyle {
    background-color: rgba(0, 125, 125, 0.7);
}

input[name="search"] {
    outline: 0;
    border: none;
    width: 50vw;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
