table.remember_list {
    width: 80%;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0;
}

table.remember_list tr:nth-of-type(odd) {
    background-color: #ddd;
}
table.remember_list tr:nth-of-type(even) {
    background-color: #eee;
}

table.remember_list th,
table.remember_list td {
    padding: 8px;
    cursor: pointer;
}

table.remember_list tbody tr:hover {
    background-color: #ccc;
}

input[name="r_remember"] {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;
}
