body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.status {
    margin-bottom: 10px;
}

button.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    width: 100px;

    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

button.square:hover {
    background-color: #999;
}

button.square:focus {
    outline: none;
}

div.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    height: 50vh;
    min-width: 30vw;
    overflow: auto;
    justify-content: center;
}

ol.game-history {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

ol.game-history li {
    text-align: center;
    line-height: 0.7em;
    border: 1px solid green;
    padding: 1rem;
    margin: 5px;
    cursor: pointer;
    list-style: none;
    user-select: none;
}

@media (max-width: 720px) {
    ol.game-history {
        min-width: 100wv;
    }
}
