* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.input_box {
    width: 80vw;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
}

div.input_box label,
div.input_box input {
    display: inline-block;
    padding: 8px;
    margin: 5px;
}

div.input_box label {
    width: 20%;
    text-align: right;
}

div.input_box input {
    width: 70%;
}
div.input_box button {
    display: inline-block;
    width: 20%;

    padding: 0.9rem;
    background-color: blue;
    color: white;

    margin-left: 0;
    /* transform: translateX(-50%); */
}

div.book_view {
    width: 80vw;
    margin: 20px auto;
    display: flex;
    border: 1px solid #ddd;
    padding: 1rem;
}

div.book_view p {
    flex: 1;
    border: 1px solid #aaa;
    margin: 10px;
}

table.book_list {
    width: 80vw;
    border: 1px solid #ddd;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0;
}

table.book_list th,
table.book_list td {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #777;
}
