.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input.todo_text {
    width: 50vw;
    padding: 8px;
    margin: 5px;
}

button.btn_toto_insert {
    width: 20vw;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 8px;
    margin: 5px;
}

button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

table.toto_list {
    width: 70vw;
    margin: 5px auto;
}
